.navbar-top-links {
	height: 70px;
	padding-top: 20px; 
	margin-right: 60px;
}
.pull-right .btn {
	border-radius: 10px;
}

.panel {
	border:none !important;
}

.thumbnails li{
	margin-left: 0 !important;
}

.thumbnail img{
	margin:0 !important;
}