body{
	background-image: url('../../resources/upload/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#wrapper .container {
	background: #fff;
	border-radius: 10px;
}
.container {
	padding: 0 !important;
}
#header #categorymenu{
	background: #444;
}
#categorymenu ul.categorymenu li a{
	color: #fff !important;
}
#search a{
	color: #fff;
}
#search a:hover {
	color: #f25c27;
	text-decoration: underline;
}
.navbar-top-links {
	height: 70px;
	padding-top: 20px; 
	margin-right: 60px;
}
.pull-right .btn {
	border-radius: 10px;
}

.panel {
	border:none !important;
}

.thumbnails li{
	margin-left: 0 !important;
}

.thumbnail img{
	margin:0 !important;
}
.flex-control-nav {
	text-align: center;
}

.flex-control-nav li a{
	border-radius: 50%;
}
.thumbnail-img {
	overflow: hidden;
	max-height: 378px;
}
.required {
	color: red;
}
#logo_web img {
	height: 100px;
}
.register-login div {
	text-align: right;
}
#search .row {
	margin:10px 0;
}
#search .row .col-sm-4{
	padding:20px 0;
}